body{
    font-family: 'Roboto', sans-serif;
    color: white;
    background-image: url("https://wallpapertag.com/wallpaper/full/b/1/1/679262-wallpaper-futuristic-technology-1920x1080-ipad-retina.jpg");
  color: rgb(255, 255, 255);
  }
  
  #heading{
    text-align: center;
  }
  
  #survey-form{
  /*   border: 2px solid green; */
    display: block;
    width: 50vw;
    min-width: 250px;
    height: auto;
    margin: auto;
    padding: 20px;
    background: rgb(179, 255, 255, 0.2);
    border-radius: 5px;
  }
  
  button{
    border: none;
  }
  #description{
    font-style: italic;
  }
  
  .form-group{
      display: flex;
      flex-direction: column;
  /*     align-items: center; */
      margin: 0 auto 1.25rem auto;
      padding: 0.7rem;
  /*     border: 2px solid rgb(179, 255, 255, 0.3); */
      background-color: rgb(5, 39, 43, 0.5);
      border-radius: 4px;
  }

  label {
      display: flex;
      align-items: center;
      font-size: 1rem;
      margin-bottom: 1rem;
  /*     border: 2px solid red; */
  }
  input{
  /*   box-sizing: border-box; */
    margin: 8px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 4px 0px 4px 12px;
  }
  
  #dropdown{
    margin: 8px;
    height: 30px;
    border-radius: 5px;
    border: none;
    width: 20%;
    padding-left: 8px;
  }
  
  #most-like{
    padding-left: 8px;
    height: 30px;
    width: 20%;
    margin: 8px;
    border-radius: 5px;
  }
  #submit{
    width: 60px;
    display: block;
    margin: auto;
    height: 25px;
    border-radius: 3px;
  }
  
  #comments{
    height: 200px;
    border-radius: 4px;
  }
  
  p{
    padding-left: 10px;
  }
  
  #fcc{
      /* border: 2px solid rgb(36, 229, 255,0.2); */
      /* width: 10vw;
      height: 10vw; */
      max-width: 289px;
      height: 289px;
      font-display: inline;
      /* display: inline; */
      margin:auto;
      /* border-style: ridge; */
      margin-bottom: 15px;
      box-shadow: 0px 0px 10px rgb(159, 255, 255);
  }